#### Step 1: check library pandas if exists or not

In [ ]:
#pip show pandas

#### Step 2: install pandas

In [ ]:
#pip install pandas

#### Step 3: load file csv

In [ ]:
import pandas as pd

df = pd.read_csv('dataset/salary_food.csv')
df

#### Step 4: load file xls

In [ ]:
import pandas as pd

df = pd.read_excel('dataset/example.xls')
df

#### Step 5: load file from external as url

In [ ]:
import pandas as pd 

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df  =  pd.read_csv(url)

# result = df[['Name','Sex','Age']]
# result

#### Step 6: load data  by using pandas in specific

In [ ]:
# call in head
df.head() 
df.head(10) # show only 5 rows in head

In [ ]:
df.tail(10) # show backfront 10 row

In [ ]:
df[3:5] # substring

In [ ]:
df.shape # all summarize

In [ ]:
df.info() # all detail

In [ ]:
# data statistic

df.describe()

In [ ]:
# choose file from data that you want with condition
result = df[['Name','Sex','Age']]

result.drop(['Sex'], axis = 1)

In [ ]:
# choose row between data
df.iloc[0:3] # row in 0-2

In [ ]:
# use conditon to filter data from data frame

df[df['Age'] > 60]

# use more than one condition 
df[(df['Age'] > 60) & (df['Sex'] == 'male')]

In [ ]:
# remove row that you dont want by drop

df.drop([0,1])

df.drop([2,3,4]).head(10) # remove row 2,3,4 out of frame

In [ ]:
# replace data  by one column
df
df.replace({'Pclass': {1:'10' , 3:"11"}}).head(10)    #{'column_name': {'search': 'replace'}

# replac all data in data frame

df.replace(0, 'Zero')

In [ ]:
# example for count group data
# example separate ticket by ticket class
# sorting
df
df['Pclass'].value_counts().sort_index()

#### Step 7: Data cleaning

In [ ]:
# load data 
df = pd.read_csv('dataset/exercise.csv')

df

In [ ]:
# remove (NaN) out of table 
df.dropna(inplace=True)

df

In [ ]:
# replace data by using fillna
df = pd.read_csv('dataset/exercise.csv')
df.fillna(-99, inplace=True)
df

In [ ]:
# remove data  not format 
df = pd.read_csv('dataset/exercise.csv')
df.drop([3], inplace=True)
df

In [ ]:
# change data wrong to correct data 
df = pd.read_csv('dataset/exercise.csv')
df.loc[2 , 'Hight'] = '179'
df

In [ ]:
#cleaning data dupicate

df = pd.read_csv('dataset/exercise.csv')

df[df.duplicated()]

In [ ]:
# remove dupicate data 
df.drop_duplicates(inplace=True)
df

In [81]:
df = pd.read_csv('dataset/Electric.csv')
df

   id    Datetime      n_id  n_val      machine_id
0   1  2022-11-13  10:06:00   2000  Air_Pump_Ozone
1   2  2022-11-13  10:00:00  10000  Air_Pump_Ozone
2   3  2022-11-13   9:15:00   1200  Air_Pump_Ozone
3   4  2022-11-13   9:00:00    500  Air_Pump_Ozone
4   5  2022-11-13   8:30:00   1100  Air_Pump_Ozone
5   6  2022-11-13   8:00:00   1000  Air_Pump_Ozone