#### Step1: Importing the required libraries

In [6]:
import pymysql

from module import connectMariaDb as con

#### Step2: Create table

In [ ]:
def create_table(): 
    connection = con.connectdb()
    cursor = connection.cursor() 

    #Create table 
    sql = '''
        CREATE TABLE person (
            id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(255),
            address VARCHAR(255)
        )
        '''
    try:
        cursor.execute(sql)
        print("Table created successfully")
    except pymysql.MySQLError as e:
        print(f"Error connecting to database: {e}")
        return None 
    
# call function
create_table()

#### Step 3: insert data in table

In [ ]:
def add_table(name="" , address=""): 
    connection = con.connectdb()
    cursor = connection.cursor() 

    #Create table 
    sql = f" INSERT INTO person (name,address) VALUES('{name}','{address}')"
    try:
        cursor.execute(sql)
        # Commit the changes
        connection.commit()
        print("Add person successfully")
    except pymysql.MySQLError as e:
        print(f"Error connecting to database: {e}")
        return None 
    
# call function
add_table('Mouky','Jom na ny')

#### Step 4: get data from table by using Select

In [10]:
def read_person(): 
    connection = con.connectdb()
    cursor = connection.cursor() 

    #Create table 
    sql = f"Select * from person order by id DESC"
    try:
        cursor.execute(sql)
        # Commit the changes
        connection.commit()
        #get data
        for row in cursor:
            print("ID=",row['id'])   
            print("ID=",row['name'])   
            print("ID=",row['address'])
            print("_____________________")
    except pymysql.MySQLError as e:
        print(f"Error connecting to database: {e}")
        return None 
    
# call function
read_person()

ID= 2
ID= Mouky
ID= Jom na ny
_____________________
ID= 1
ID= Nalinthorn
ID= Dong mieng
_____________________